kl10.cache
*~
.*~
kl10.runs
*.log
*.jou
webtalk/
xsim.dir
kl10.sim/*/behav/xsim/compile.sh
kl10.sim/*/behav/xsim/elaborate.sh
kl10.sim/*/behav/xsim/xvlog.log
kl10.sim/*/behav/xsim/xvlog.pb
kl10.sim/*/behav/xsim/*.wdb
kl10.sim/*/behav/xsim/simulate.sh
kl10.ip_user_files/
kl10.srcs/sources_1/ip/.Xil/.kl_delays.xcix.lock
kl10.sim/kl10pv/behav/xsim/simulate.log
kl10.sim/kl10pv/behav/xsim/xelab.pb
*.lock
doc/MP00622_MF20_Oct82-OCR.pdf
*.log
kl10.ip_user_files
*.bak
*.pb
*.sdb
kl10.sim/edp/behav/xsim/EDPtb_top.tcl
kl10.sim/edp/behav/xsim/EDPtb_top_vlog.prj
